In [1]:
import pandas as pd

In [20]:
from io import StringIO
import re

# Solution for handling the [] input with commas in the middle of it.  
# Also remove debugging messages that might arise.
# Source: https://stackoverflow.com/a/48672386
def filter_input_rows(inp_file):
    for_pd = StringIO()
    with open(inp_file) as inp:
        for line in inp:
            if "[" in line:
                # Handle a line with square brackets in it.
                spl_line = line.strip().split("[")
                new_line = re.sub(r',','|',spl_line[0])
                spl_line = spl_line[1].strip().split(']')
                new_line += "[" + spl_line[0] +"]" +re.sub(r',','|',spl_line[1])
                print(new_line, file=for_pd)
            else:
                # Handle the header row.
                spl_line = [i.strip() for i in line.split(",")]
                print('|'.join(spl_line), file=for_pd)
                      
    for_pd.seek(0)
    return for_pd

In [1]:
df = pd.read_csv(filter_input_rows("/mnt/d/",sep='|'))#"../0/0/0_0_lexicase_ordering_log.dat"), sep='|')
df.head()

SyntaxError: unterminated string literal (detected at line 1) (696823038.py, line 1)

In [22]:
gb_df = df.groupby(['Gen','Sel_Ind']).Sel_Ind.count().reset_index(name="Count")
gb_df.head(50)

    Gen  Sel_Ind  Count
0     0       -1      7
1     0        2      2
2     0        3      1
3     0        4      3
4     0        5      1
5     0        6      1
6     0        7      1
7     0        8      4
8     0        9      3
9     0       10      5
10    0       13      3
11    0       14      3
12    0       16      1
13    0       19      3
14    0       20      3
15    0       21      2
16    0       24      2
17    0       26      1
18    0       27      3
19    0       30      5
20    0       31      3
21    0       33      2
22    0       34      7
23    0       36      1
24    0       37      1
25    0       38      1
26    1       -1      8
27    1       42      1
28    1       43      2
29    1       44      2
30    1       45      2
31    1       46      1
32    1       49      2
33    1       50      1
34    1       52      1
35    1       53      2
36    1       54      6
37    1       55      4
38    1       57      2
39    1       59      2
40    1       60      1
41    1       61      3
42    1       62      2
43    1       63      3
44    1       65      3
45    1       66      2
46    1       67      2
47    1       69      4
48    1       70      4
49    1       71      1

In [23]:
gb_df = df.groupby(['Gen','Objective']).Objective.count().reset_index(name="Count")
gb_df.head(50)

    Gen  Objective  Count
0     0         -1      1
1     0          0      3
2     0          1     62
3     0          2      3
4     1         -1      1
5     1          0      6
6     1          1     67
7     1          2      1
8     2          0      1
9     2          1     56
10    2          2      1
11    3         -1      7
12    3          0     40
13    3          1     18
14    3          2     58
15    4         -1      8
16    4          0     13
17    4          1     34
18    4          2     63
19    5         -1      9
20    5          0      9
21    5          1     27
22    5          2     58
23    6         -1      7
24    6          0     58
25    6          1     13
26    6          2      7
27    7         -1      9
28    7          0     57
29    7          1     12
30    7          2     10
31    8         -1     11
32    8          0     58
33    8          1     24
34    8          2     30
35    9         -1      7
36    9          0      7
37    9          1     24
38    9          2     57
39   10         -1     12
40   10          0     60
41   10          1     36
42   10          2     12
43   11         -1      6
44   11          0     59
45   11          1     21
46   11          2      6
47   12         -1     16
48   12          0     30
49   12          1     30